![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [336]:
# Import necessary packages
import pandas as pd
import numpy as np

price_df = pd.read_csv("data/airbnb_price.csv")
room_type_df = pd.read_excel("data/airbnb_room_type.xlsx")
last_review_df = pd.read_csv("data/airbnb_last_review.tsv",sep = '\t')

In [337]:
print(price_df.head())
print(room_type_df.head())
print(last_review_df.head())

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [338]:
print(price_df.info())
print(room_type_df.info())
print(last_review_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None

In [339]:
combined_df = pd.merge(price_df, room_type_df, on='listing_id')

In [340]:
combined_df = pd.merge(combined_df, last_review_df, on='listing_id')

In [341]:
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.5+ MB
None

What are the dates of the earliest and most recent reviews? 

Store these values as two separate variables with your preferred names.

In [342]:
# Convert last_review to datetime and extract date
combined_df['last_review'] = pd.to_datetime(combined_df['last_review']).dt.date

print(combined_df['last_review'])

0        2019-05-21
1        2019-07-05
2        2019-06-22
3        2019-06-24
4        2019-06-09
            ...
25204    2019-07-07
25205    2019-07-07
25206    2019-07-07
25207    2019-07-07
25208    2019-07-08
Name: last_review, Length: 25209, dtype: object

In [343]:
first_reviewed = combined_df['last_review'].min()
last_reviewed = combined_df['last_review'].max()

print("The earliest review was on", first_reviewed)
print("The most recent review was on", last_reviewed)

The earliest review was on 2019-01-01
The most recent review was on 2019-07-09

How many of the listings are private rooms? Save this into any variable.

In [344]:
print(combined_df['room_type'].value_counts())

Entire home/apt    8458
Private room       7241
entire home/apt    2665
private room       2248
ENTIRE HOME/APT    2143
PRIVATE ROOM       1867
Shared room         380
shared room         110
SHARED ROOM          97
Name: room_type, dtype: int64

In [345]:
# Transform the values of room_type column to lowercase
combined_df['room_type'] = combined_df['room_type'].str.lower()

In [346]:
# Verify the changes
print(combined_df['room_type'].value_counts())

entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64

In [347]:
# Find the count of private room listing
nb_private_rooms = combined_df[combined_df['room_type'] == 'private room'].shape[0]

print(f"There are {nb_private_rooms} of the listings that are private rooms.")

There are 11356 of the listings that are private rooms.

What is the average listing price? 

Round to the nearest two decimal places and save into a variable.

In [348]:
print(combined_df['price'].unique())

['225 dollars' '89 dollars' '200 dollars' '79 dollars' '150 dollars'
 '135 dollars' '85 dollars' '140 dollars' '215 dollars' '99 dollars'
 '130 dollars' '80 dollars' '110 dollars' '120 dollars' '60 dollars'
 '44 dollars' '180 dollars' '50 dollars' '52 dollars' '55 dollars'
 '70 dollars' '40 dollars' '68 dollars' '151 dollars' '228 dollars'
 '144 dollars' '69 dollars' '49 dollars' '250 dollars' '275 dollars'
 '51 dollars' '65 dollars' '105 dollars' '190 dollars' '95 dollars'
 '145 dollars' '285 dollars' '94 dollars' '131 dollars' '98 dollars'
 '175 dollars' '500 dollars' '101 dollars' '125 dollars' '100 dollars'
 '59 dollars' '325 dollars' '235 dollars' '170 dollars' '185 dollars'
 '115 dollars' '77 dollars' '76 dollars' '160 dollars' '195 dollars'
 '156 dollars' '219 dollars' '165 dollars' '196 dollars' '350 dollars'
 '90 dollars' '75 dollars' '299 dollars' '83 dollars' '123 dollars'
 '265 dollars' '249 dollars' '121 dollars' '45 dollars' '71 dollars'
 '199 dollars' '64 dollars' '159 dollars' '189 dollars' '239 dollars'
 '305 dollars' '155 dollars' '92 dollars' '36 dollars' '37 dollars'
 '205 dollars' '39 dollars' '390 dollars' '129 dollars' '212 dollars'
 '124 dollars' '122 dollars' '109 dollars' '575 dollars' '169 dollars'
 '179 dollars' '349 dollars' '139 dollars' '67 dollars' '211 dollars'
 '290 dollars' '395 dollars' '97 dollars' '259 dollars' '295 dollars'
 '451 dollars' '300 dollars' '255 dollars' '72 dollars' '88 dollars'
 '42 dollars' '198 dollars' '46 dollars' '33 dollars' '91 dollars'
 '400 dollars' '429 dollars' '43 dollars' '149 dollars' '248 dollars'
 '41 dollars' '230 dollars' '146 dollars' '116 dollars' '220 dollars'
 '288 dollars' '438 dollars' '279 dollars' '137 dollars' '226 dollars'
 '154 dollars' '700 dollars' '850 dollars' '54 dollars' '495 dollars'
 '760 dollars' '153 dollars' '73 dollars' '167 dollars' '96 dollars'
 '34 dollars' '93 dollars' '402 dollars' '800 dollars' '240 dollars'
 '209 dollars' '157 dollars' '86 dollars' '106 dollars' '87 dollars'
 '56 dollars' '549 dollars' '20 dollars' '104 dollars' '298 dollars'
 '147 dollars' '269 dollars' '229 dollars' '119 dollars' '138 dollars'
 '208 dollars' '58 dollars' '142 dollars' '174 dollars' '210 dollars'
 '311 dollars' '82 dollars' '450 dollars' '328 dollars' '102 dollars'
 '385 dollars' '499 dollars' '107 dollars' '118 dollars' '280 dollars'
 '133 dollars' '128 dollars' '35 dollars' '136 dollars' '148 dollars'
 '433 dollars' '61 dollars' '234 dollars' '595 dollars' '197 dollars'
 '127 dollars' '113 dollars' '108 dollars' '141 dollars' '62 dollars'
 '550 dollars' '380 dollars' '84 dollars' '78 dollars' '900 dollars'
 '399 dollars' '330 dollars' '375 dollars' '168 dollars' '66 dollars'
 '103 dollars' '312 dollars' '38 dollars' '158 dollars' '465 dollars'
 '81 dollars' '57 dollars' '260 dollars' '289 dollars' '176 dollars'
 '30 dollars' '339 dollars' '191 dollars' '2500 dollars' '63 dollars'
 '53 dollars' '134 dollars' '420 dollars' '187 dollars' '950 dollars'
 '1000 dollars' '1395 dollars' '425 dollars' '47 dollars' '182 dollars'
 '650 dollars' '48 dollars' '152 dollars' '117 dollars' '181 dollars'
 '188 dollars' '111 dollars' '162 dollars' '171 dollars' '112 dollars'
 '345 dollars' '224 dollars' '194 dollars' '31 dollars' '74 dollars'
 '439 dollars' '555 dollars' '29 dollars' '245 dollars' '455 dollars'
 '193 dollars' '201 dollars' '525 dollars' '600 dollars' '173 dollars'
 '32 dollars' '750 dollars' '480 dollars' '164 dollars' '177 dollars'
 '320 dollars' '340 dollars' '221 dollars' '1485 dollars' '25 dollars'
 '218 dollars' '430 dollars' '126 dollars' '270 dollars' '16 dollars'
 '166 dollars' '785 dollars' '316 dollars' '318 dollars' '273 dollars'
 '365 dollars' '184 dollars' '192 dollars' '216 dollars' '172 dollars'
 '246 dollars' '383 dollars' '419 dollars' '1050 dollars' '178 dollars'
 '310 dollars' '985 dollars' '360 dollars' '699 dollars' '163 dollars'
 '1500 dollars' '272 dollars' '895 dollars' '258 dollars' '254 dollars'
 '795 dollars' '995 dollars' '308 dollars' '27 dollars' '825 dollars'
 '524 dollars' '475 dollars' '244 dollars' '114 dollars' '132 dollars'
 '1200 dollars' '341 dollars' '369 dollars' '322 dollars' '276 dollars'
 '247 dollars' '379 dollars' '440 dollars' '888 dollars' '2000 dollars'
 '222 dollars' '243 dollars' '398 dollars' '355 dollars' '370 dollars'
 '22 dollars' '238 dollars' '1195 dollars' '999 dollars' '469 dollars'
 '28 dollars' '207 dollars' '410 dollars' '261 dollars' '899 dollars'
 '161 dollars' '296 dollars' '531 dollars' '214 dollars' '335 dollars'
 '186 dollars' '799 dollars' '206 dollars' '26 dollars' '485 dollars'
 '315 dollars' '143 dollars' '204 dollars' '1731 dollars' '319 dollars'
 '283 dollars' '1100 dollars' '814 dollars' '690 dollars' '619 dollars'
 '625 dollars' '333 dollars' '359 dollars' '436 dollars' '274 dollars'
 '376 dollars' '329 dollars' '202 dollars' '408 dollars' '479 dollars'
 '294 dollars' '252 dollars' '672 dollars' '415 dollars' '584 dollars'
 '183 dollars' '449 dollars' '1020 dollars' '19 dollars' '232 dollars'
 '11 dollars' '233 dollars' '459 dollars' '489 dollars' '545 dollars'
 '2250 dollars' '227 dollars' '484 dollars' '1475 dollars' '278 dollars'
 '10 dollars' '615 dollars' '287 dollars' '1067 dollars' '578 dollars'
 '236 dollars' '352 dollars' '256 dollars' '389 dollars' '264 dollars'
 '789 dollars' '585 dollars' '1795 dollars' '268 dollars' '1095 dollars'
 '217 dollars' '0 dollars' '409 dollars' '496 dollars' '422 dollars'
 '435 dollars' '1177 dollars' '790 dollars' '378 dollars' '766 dollars'
 '231 dollars' '840 dollars' '540 dollars' '237 dollars' '589 dollars'
 '949 dollars' '358 dollars' '2200 dollars' '1066 dollars' '12 dollars'
 '460 dollars' '487 dollars' '647 dollars' '277 dollars' '3000 dollars'
 '23 dollars' '490 dollars' '416 dollars' '257 dollars' '374 dollars'
 '2990 dollars' '620 dollars' '649 dollars' '412 dollars' '21 dollars'
 '975 dollars' '599 dollars' '344 dollars' '347 dollars' '393 dollars'
 '745 dollars' '309 dollars' '15 dollars' '1250 dollars' '737 dollars'
 '689 dollars' '394 dollars' '639 dollars' '530 dollars' '848 dollars'
 '590 dollars' '403 dollars' '471 dollars' '478 dollars' '24 dollars'
 '860 dollars' '1115 dollars' '520 dollars' '692 dollars' '241 dollars'
 '267 dollars' '5000 dollars' '714 dollars' '675 dollars' '266 dollars'
 '303 dollars' '670 dollars' '418 dollars' '452 dollars' '343 dollars'
 '334 dollars' '321 dollars' '282 dollars' '332 dollars' '314 dollars'
 '453 dollars' '313 dollars' '805 dollars' '443 dollars' '392 dollars'
 '284 dollars' '432 dollars' '444 dollars' '262 dollars' '263 dollars'
 '1075 dollars' '820 dollars' '1750 dollars' '251 dollars' '1299 dollars'
 '1295 dollars' '519 dollars' '890 dollars' '404 dollars' '503 dollars'
 '472 dollars' '454 dollars' '203 dollars' '377 dollars' '431 dollars'
 '505 dollars' '242 dollars' '468 dollars' '396 dollars' '498 dollars'
 '223 dollars' '612 dollars' '488 dollars' '1497 dollars' '515 dollars'
 '990 dollars' '388 dollars' '407 dollars' '506 dollars' '324 dollars'
 '304 dollars' '3613 dollars' '2600 dollars' '293 dollars' '336 dollars'
 '560 dollars' '5100 dollars' '898 dollars' '327 dollars' '470 dollars'
 '442 dollars' '306 dollars' '474 dollars' '616 dollars' '945 dollars'
 '539 dollars' '577 dollars' '18 dollars' '367 dollars' '583 dollars'
 '659 dollars' '13 dollars' '7500 dollars' '447 dollars' '695 dollars'
 '1099 dollars' '428 dollars' '445 dollars' '348 dollars' '2995 dollars'
 '342 dollars' '843 dollars' '213 dollars' '417 dollars' '1400 dollars'
 '323 dollars']

In [349]:
# Remove the dollars from prices and convert to int
combined_df['price'] = combined_df['price'].str.replace(' dollars', '').astype(int)

print(combined_df['price'].head())

0    225
1     89
2    200
3     79
4    150
Name: price, dtype: int64

In [350]:
# Find average listing price rounded to 2 decimals
avg_price = combined_df['price'].mean().round(2)

print(f"The average listing price is {avg_price}.")

The average listing price is 141.78.

In [351]:
review_dates = pd.DataFrame(data=[[first_reviewed, last_reviewed, nb_private_rooms, avg_price]], 
                           columns=['first_reviewed', 'last_reviewed', 'nb_private_rooms', 'avg_price'])

In [352]:
print(review_dates.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   first_reviewed    1 non-null      object
 1   last_reviewed     1 non-null      object
 2   nb_private_rooms  1 non-null      int64
 3   avg_price         1 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 160.0+ bytes
None